# Add any directories, files, or patterns you don't want to be tracked by version control
Ben
doc
mail
lib/settings.php
logs
variant
vendor
*.txt
*.xml
*.zip
*.jade
viRG1zT7S5S2CBRlxGCd-gQzayc.html
96a2c3893cc9.html
process.php
